!!! 5
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}/
  %title Documentación
  %link{:rel => "stylesheet", :href => "../assets/styles/styles.css"}/
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
  %script{:src => "../assets/javascripts/examples.js"}
  %script{:src => "../assets/javascripts/jquery.formatter.js"}
%body
  %header
    .wrapper
      %a.title{:href => "/", :title => "Ir al inicio"}
        %h1
          %span.brand_symbol
          %span.header_loc Developer Examples
      %ul.nav_links
        %li
          %a{:href => ""} Documentación
  .content#card
    %ul.versions
      %h3 Pago en Bancos
      %li.version#basic Llamada básica
      %li.version#advanced Llamada avanzada
    %form{:action => ""}
      %h1 Película BluRay
      .product
        %img{:src => "../assets/images/gog_on_demand.jpg", :alt => ""}/
      %fieldset.basic
        .input_box
          %label{:for  => "customer_name"} Nombre
          %input{:name => "customer_name",  :type => "text"}/
        .input_box
          %label{:for  => "customer_email"} E-mail
          %input{:name => "customer_email", :type => "text"}/
      %fieldset.advanced
        .input_box
          %label{:for  => "customer_phone"} Teléfono
          %input{:name => "customer_phone", :type => "text"}/
        .input_box
          %label{:for  => ""} Dirección
          %input{:name => "", :type => "text"}/
        .input_box
          %label{:for  => ""} Código Postal
          %input{:name => "", :type => "text"}/
      %fieldset.actions
        %button{:type => "submit"} Generar Referencia de Pago
    .help
      %h3 Ayuda
      %p 
        Consulta el tutorial para aprender a integrar este método de pago.
        %br/
        %a{:href => ""} Ver tutorial
    .error_msg
      %h3 Mensaje de error
      %p Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas.
    .success_msg
      %h3 Referencia Generada
      %p La referencia ha sido generada con éxito:
      %dl
        %dt Referencia
        %dd 8362402948
        %dt Monto
        %dd $ 199
  %footer
    %ul
      %li
        %a{:href => ""} Pagos con tarjeta
      %li
        %a{:href => ""} Pagos en efectivo
      %li
        %a{:href => ""} Pagos en bancos
      %li
        %a{:href => ""} Cargos On-demand
      %li
        %a{:href => ""} Suscripciones